@import 'tailwindcss';
@import './_primevue.css';

:root {
  font-size: 16px;
}

@theme {
  --color-primary-50: oklch(94.34% 0.033 307.17);
  --color-primary-100: oklch(88.68% 0.065 307.17);
  --color-primary-200: oklch(77.35% 0.135 305.44);
  --color-primary-300: oklch(66.9% 0.2 303.69);
  --color-primary-400: oklch(57.89% 0.254 300.39);
  --color-primary-500: oklch(51.64% 0.279 294.66);
  --color-primary-600: oklch(43.9% 0.236 294.97);
  --color-primary-700: oklch(35.76% 0.189 295.7);
  --color-primary-800: oklch(27.18% 0.14 296.7);
  --color-primary-900: oklch(18.02% 0.085 301.06);
  --color-primary-950: oklch(14.93% 0.068 302.16);

  --color-surface-50: oklch(96.05% 0.004 314.8);
  --color-surface-100: oklch(92.04% 0.008 319.45);
  --color-surface-200: oklch(83.74% 0.019 317.73);
  --color-surface-300: oklch(75.42% 0.028 318.22);
  --color-surface-400: oklch(66.89% 0.037 318.49);
  --color-surface-500: oklch(57.95% 0.051 317.94);
  --color-surface-600: oklch(49.57% 0.04 318.47);
  --color-surface-700: oklch(40.64% 0.033 318.18);
  --color-surface-800: oklch(31.18% 0.024 317.63);
  --color-surface-900: oklch(21.15% 0.011 319.46);
  --color-surface-950: oklch(17.85% 0.009 317.68);
}
