@import 'tailwindcss';
@import './_primevue.css';
@import './_font-face.css';
@import 'primeicons/primeicons.css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: 'Anuphan', sans-serif;
  font-size: 16px;
}

@theme {
  --color-primary-0: oklch(100% 0.024 83.42);
  --color-primary-50: oklch(97.56% 0.024 83.42);
  --color-primary-100: oklch(95.21% 0.047 82.71);
  --color-primary-200: oklch(90.69% 0.092 82.18);
  --color-primary-300: oklch(86.49% 0.131 80.68);
  --color-primary-400: oklch(82.87% 0.159 77.82);
  --color-primary-500: oklch(79.45% 0.171 71.19);
  --color-primary-600: oklch(67.36% 0.144 71.91);
  --color-primary-700: oklch(54.5% 0.117 72.24);
  --color-primary-800: oklch(41.04% 0.087 74.06);
  --color-primary-900: oklch(26.35% 0.055 78.74);
  --color-primary-950: oklch(21.59% 0.045 81.08);

  --color-surface-0: oklch(100% 0 0);
  --color-surface-50: oklch(95.85% 0.005 274.96);
  --color-surface-100: oklch(91.43% 0.011 280.46);
  --color-surface-200: oklch(82.83% 0.023 274.68);
  --color-surface-300: oklch(73.87% 0.035 276.2);
  --color-surface-400: oklch(64.86% 0.047 275.05);
  --color-surface-500: oklch(55.34% 0.063 274.36);
  --color-surface-600: oklch(47.41% 0.051 274.45);
  --color-surface-700: oklch(38.85% 0.041 275.2);
  --color-surface-800: oklch(30.04% 0.03 273.6);
  --color-surface-900: oklch(20.29% 0.016 279.29);
  --color-surface-950: oklch(17.32% 0.011 268.05);
}
